.counter-container {
  background: #fcfafa;
  /*width: 800px;*/
}
.button-group {
  display: flex;
  flex-wrap: wrap;          /* allows wrapping on small screens */
  justify-content: center;  /* keeps them centered */
  gap: 10px;
}
